.trailsText {
    position: relative;
    width: 100%;
    height: 100px;
    line-height: 50px;
    color: #EAEAEA;
    font-size: 5em;
    font-weight: 800;
    letter-spacing: -0.05em;
    will-change: transform, opacity;
    overflow: hidden;
  }
  
  .trailsText > div {
    padding-right: 0.05em;
    overflow: hidden;
  }
  
  .container {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
  }


  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .box {
    padding: 0 50px 0 10px;
    border: 2px solid #656464;
    border-radius: 10px;
  }
  
  .box h2 {
    display: flex;
    align-items: center;
    gap: 2px;
  }
  
  @keyframes cursor-blink {
    0% {
      opacity: 0;
    }
  }
  
  .box h2::after {
    content: "";
    width: 5px;
    height: 20px;
    background: #ec7fff;
    display: inline-block;
    animation: cursor-blink 1.5s steps(2) infinite;
  }

  h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #FE5656;
  }